{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!-- test --}}
{{!-- test2 --}}
{{#is "home"}}
    {{#if @site.description}}
    <header class="page-head">
        <h2 class="page-head-title">{{@site.title}}</h2>
        <p class="home-page-description">{{@site.description}}</p>
    </header>
    {{/if}}
{{/is}}
<div class="main-page-content-container">
    <div class="post-feed main-page-feed">
        {{#foreach posts}}
            {{#has tag="news"}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/has}}
        {{/foreach}}
    </div>
   
</div>
{{#is "home"}}
    <div class="calendar-wrapper">
        <h3>Calendar</h3>
        <div id="calendar-container">
        
        </div>
    </div>
    <script type="text/javascript">
    new GoogleCalendarEvents('AIzaSyCdbN-Y80HKLMwfqgNgxaV11JdELxnOD1c')
        .calendarId('lvukotcgrdla8p2s2ar6498chc@group.calendar.google.com')
        .maxResults(10)
        .momentDateFormat('MMMM Do YYYY')
        .render('#calendar-container');
    </script>
{{/is}}