{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#tag}}
<header class="page-head">
    <h1 class="page-head-title">{{name}}</h1>
        
    {{#if description}}
         <p class="page-head-description">{{description}}</p>
    {{/if}}
</header>
{{/tag}}

<div class="post-feed">
{{#foreach posts}}

    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-card-with-text"}}

{{/foreach}}
</div>
